:root {
  --bs-primary: #d41467;
  --bs-secondary: #f3adc1;
  --bs-heading-1: 60px;
  --bs-heading-2: 24px;
  --bs-background-color: linear-gradient(45deg, #eebdbd 0%, #ffdde1 100%);
}

body {
  font-family: "Roboto", sans-serif;
  background: var(--bs-background-color);
  color: #231e20;
}

h1 {
  font-size: 72px;
  font-weight: bolder;
  color: #231e20;
}
h2 {
  font-size: 40px;
  font-weight: 500;
}

p {
  font-size: 18px;
  font-weight: 400;
  color: rgb(107, 107, 107);
}

.btn-custom-primary {
  background-color: var(--bs-primary);
  color: white;
  border: 1px solid var(--bs-primary);
}

.btn-custom-primary:hover {
  background-color: var(--bs-secondary);
  color: white;
  border-color: var(--bs-secondary);
}

.btn-outline-primary {
  background-color: transparent;
  color: #231e20;
  border: 2px solid #231e20;
}

.btn-outline-primary:hover {
  background-color: var(--bs-secondary);
  color: white;
  border-color: var(--bs-secondary);
}

/* .card-text {
    height:8rem;
} */
