:root {
  --bs-primary: #d77a91;
  --bs-secondary: #008080;
  --bs-heading-1: 60px;
  --bs-heading-2: 24px;
  --bs-heading-color: #36454f;
  --bs-text-color: #6b6b6b;
  --bs-background-color: linear-gradient(45deg, #fcdfdc 0%, #f9dfdd 100%);
}

body {
  font-family: "Roboto", sans-serif;
  background: var(--bs-background-color);
  color: #36454f;
}

h1 {
  font-size: 72px;
  font-weight: bolder;
  color: var(--bs-heading-color);
}
h2 {
  font-size: 40px;
  font-weight: 500;
  color: var(--bs-heading-color);
}

h3 {
  font-size: 32px;
  font-weight: 500;
  color:white;

}

.lead {
  font-weight: 600;
}

p {
  font-size: 18px;
  font-weight: 300;
  color: var(--bs-text-color);
}

.btn-custom-primary {
  background-color: var(--bs-primary);
  color: white;
  border: 1px solid var(--bs-primary);
  padding: 1.3em 3em;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.btn-custom-primary:hover {
  background-color: white;
  color: var(--bs-primary);
  border: solid 2px var(--bs-primary);
  box-shadow: 0px 15px 20px rgba(188, 106, 126, 0.7);
  transform: translateY(-7px);
}

.btn-secondary {
  background-color: var(--bs-secondary);
  color: white;
  border: 2px solid var(--bs-secondary);
  padding: 1.3em 3em;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.btn-secondary:hover {
  background-color: white;
  color: var(--bs-secondary);
  border: solid 2px var(--bs-secondary);
  box-shadow: 0px 15px 20px rgba(188, 106, 126, 0.7);
  transform: translateY(-7px);
}

.h-divider {
  margin: auto;
  margin-top: 80px;
  width: 60%;
  position: relative;
}

.divider {
	display: flex;
	justify-content: center;
  margin-top: 2rem;
}
.line {
	height: 2px;
	width: 20%;
	background: linear-gradient(90deg, #efc0cc, #f5b9c8, #efc5d0);
  box-shadow:  41px 41px 82px #d09daa,
             -41px -41px 82px #ffd5e6;
}

.badge {
  border: solid 2px var(--bs-primary);
  color: var(--bs-primary);
  margin-left: 1rem;
  font-size: 14px;
}

.card-body {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.hover-overlay {
  position: relative;
  overflow: hidden;
}

.hover-overlay img {
  width: 100%;
  transition: opacity 0.3s ease;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  color: white;
  display: flex;
  padding:5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0s linear 0.3s;
}

.hover-overlay:hover .card-overlay {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}

.nav-tabs {
  background-color: transparent;
  display: flex;
  justify-content: space-around;
  border-bottom: transparent;
        color: var(--bs-secondary);
        width:100%;
}

.nav.nav-link {
  border:none;
  border-bottom: 1px solid  #008080;
}

.nav-tabs .nav-item {
  margin: 0;
      border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.nav-items {
    flex:1;
    text-align: center;
}

.nav-tabs .nav-link {
border:none;
  background-color: transparent;
  color: var(--bs-heading-color);
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
}

.nav-tabs .nav-link.active {
  background-color: transparent;
  color: var(--bs-secondary);
  border-bottom: 4px solid var(--bs-secondary);
}

.nav-tabs .nav-link:hover {
  background-color: transparent;
}

.tab-content {
  min-height:100px;
}

.portrait-container {
    display: flex;
    justify-content: center;  /* Center the image horizontally */
    margin-top: 20px;         /* Top margin */
    margin-bottom: 20px;      /* Bottom margin */
}

.myself {
  width:15rem;
}

.img-container {
align-items: center;
}

.center-img {
  width:100px;
  fill:var(--bs-primary);
}

.contact-form {
background-color: #fcdfdc;
border-radius: 1%;
box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.3), -4px -4px 14px rgba(255, 255, 255, 0.3);
}

.skills {
  display:flex;
  flex-direction: column;
}

.skills-section .skills-list {
  padding-left: 20px; /* Adjusts padding for alignment */
}

.skills-list li {
  margin-bottom: 10px; /* Uniform spacing between list items */
}

@media (min-width: 768px) {
  .skills-section .row {
    display: flex;
    align-items: start; /* Aligns content at the top of columns */
  }
}

.cta-band {
background-color: #FCDFDC;
border-radius: 1%;
box-shadow: inset 4px 4px 14px rgba(0, 0, 0, 0.3), inset -4px -4px 14px rgba(255, 255, 255, 0.3);
}
