:root {
    --bs-pink: #e78091;
    --bs-dark-pink: #ae4c5c;
    --bs-heading-1: 60px;
    --bs-heading-2:24px;
}

body {
  font-family: "Roboto", sans-serif;

}
h1 {
    font-size: 72px;
    font-weight: bolder;
}
h2 {
    font-size: 40px;
        font-weight:500;
}

p {
    font-size: 20px;
        font-weight: 400;
    color:rgb(107, 107, 107);
}


.btn-custom-pink {
    background-color: var(--bs-pink) ; 
    color: white; 
    border: 1px solid var(--bs-pink);
}

.btn-custom-pink:hover {
    background-color: var(--bs-dark-pink);
    color: white;
    border-color: var(--bs-dark-pink);
}

.btn-outline-pink {
    background-color: transparent; 
    color: var(--bs-pink); 
    border: 2px solid var(--bs-pink);
}

.btn-outline-pink:hover {
    background-color: var(--bs-dark-pink);
    color: white;
    border-color: var(--bs-dark-pink);
}